.v-common{
	height: 100vh;
	display: flex;
	flex-direction: column;
}
.v-title {
	height: 50px;
	background-color: #000000;
	padding-left: 20px;
	display: flex;
	flex-direction: row;
}

.v-title text {
	color: #F0AD4E;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.v-title image {
	height: 18px;
	width: 18px;
	margin: auto 27px;
}

.v-content {
	height: 95vh;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
}

.v-lift{
	width: 10%;
	background-color: #2B394D;
	font-size: 20px;
	font-weight: 700;
}

.v-lift-item-n{
	height: 50px;
	background-color: #2B394D;
	font-size: 15px;
	font-weight: 700;
	color: #FFFFFF;
	padding-left: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.v-lift-item{
	height: 50px;
	background-color: #FFFFFF;
	font-size: 15px;
	font-weight: 700;
	color: #2B394D;
	padding-left: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.v-lift-item-n text{
	color: #FFFFFF;
}

.v-lift-item text{
	color: #F0AD4E;
}

.v-lift-item image{
	height: 15px;
	width: 15px;
	margin-right: 15px;
}

.v-lift-item-n image{
	height: 15px;
	width: 15px;
	margin-right: 15px;
}

.v-line {
	width: 2px;
	background-color: #C8C7CC;
}

.v-data {
	height: 95vh;
	width: 90%;
	background-color: #FFFFFF;
}
